.page-center{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: #fff;
}

.container {
  padding: 0 2rem !important;
}

.bg-main {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.offcanvas-body {
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

.card {
  margin-top: 5rem !important;
}

.card-img-top{

  max-height: 20rem !important;
  width: 100% !important;
  object-fit: cover;

}
